.about-us-container
{
    display: flex;
    justify-content: center;
    margin-left: 10px;
	margin-right: 10px;
  
}
.about-us-content
{
    text-align: center;
    font-family: 'Raleway', Courier, monospace;
    color: var(--text-color4);
}
.team-link{
	margin-bottom: 30px;
}
#about .team-link a
{
    color: var(--foreground3);
    text-decoration: none;
    font-size: 2em;
    
}

#about .team-link a span
{
    background-color: #fff;
    padding:5px;
    border-radius: 10px;
}

.mission-vision{
    font-size: 2em;
}
#about .team-link a span i{
	margin-right: 5px;
}