.sidebar
{
    position: fixed;
    right: -250px;
    width: 250px;
    height: 150%;
    background: #5e6f64 ;
    transition: all .5s ease;
    
    scroll-behavior: smooth;
 
}
.sidebar header
{
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    line-height: 70px;
    background: #204051;
}

.sidebar ul a{
    
    
    width:100%;
    line-height: 50px;
    font-size: 20px;
    color:white; 
    padding-left: 40px;
    box-sizing: border-box;
    transition: .4s;
   
}
ul li:hover a{
    padding-right: 50px;

}
#check
{
    display: none;
    width: 20px;
	height: 25px;
	
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
	border-radius: 3px;

}
label #btn{
    right:400px;
    top:25px;
    font-size: 35px;
    color:white;
    padding:6px 12px ;
    transition: all .5s ;


} 
label #cancel
{
    z-index:1111;
  
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding :4px 9px;
    transition: all .5s ease;
}
#check:checked ~.sidebar{
    right:0;

}
#check:checked ~label #btn{
    right:-250px;
    opacity:0;
    pointer-events: none;

}
#check:checked ~label #cancel{
    right:195px;
} 
/* .sidebar
{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 150%;
    background: #5e6f64 ;
    transition: all .5s ease;
    
    scroll-behavior: smooth;
 
}
.sidebar header
{
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    line-height: 70px;
    background: #204051;
}

.sidebar ul a{
    
    
    width:100%;
    line-height: 50px;
    font-size: 20px;
    color:white; 
    padding-left: 40px;
    box-sizing: border-box;
    transition: .4s;
   
}
ul li:hover a{
    padding-left: 50px;

}
#check
{
    display: none;
    width: 20px;
    height: 25px;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left:40px;
    top:25px;
    font-size: 35px;
    color:white;
    padding:6px 12px ;
    transition: all .5s ;


} 
label #cancel
{
    z-index:1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding :4px 9px;
    transition: all .5s ease;
}
#check:checked ~.sidebar{
    left:0;

}
#check:checked ~label #btn{
    left:250px;
    opacity:0;
    pointer-events: none;

}
#check:checked ~label #cancel{
    left:195px;
} */