@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}
/* img{
    width: 100%;
} */
body{
    background: var(--background);/*changes*/
}

/* body
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 0 1.5rem;
} */
/* section
{
    
    width: 100%;
    height: 600px;


} */
/* section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
 
     
 } */

 /* h1{
    margin-top: 60px;
    color:white;
	text-transform: uppercase;
	font-size: 2rem;
	word-spacing: 25px;
    letter-spacing: 2px;
    font-family: 'Montserrat', Courier, monospace;
} */

/* section p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #f3e7e7ce;
} */
#blog-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

/* main:nth-child(odd){
    justify-content: flex-start;
    align-items: flex-start;
}
main:nth-child(even){
    align-items: flex-end;
    justify-content: flex-end;
} */
.blog-post-head
{
    font-size: 5rem;
    color: rgb(255, 255, 255);
    margin: 30px 0;
    align-items: center;
    font-family: 'Montserrat', cursive;
    font-weight: 900;
    background-color: var(--background);
    width: 100%;
    text-align: center;
    
}
.blog-post
{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: var(--foreground);/*changes*/
    
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}
.blog-post:nth-child(odd){
    align-self: flex-end;
    /* flex-direction: row-reverse; */
}

.blog-post:nth-child(even){
    align-self: flex-start;
}

.blog-post_img
{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform:translateX(-5rem);
    position: relative;

}
.blog-post_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post_img::before
{
   
    width: 90%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(to right,rgba(79,172,254,.8),
                                       rgba(0,242,254,.8));
    box-shadow: .5rem,.5rem 3rem 1px rgba(0, 0, 0, 0.425); 
    border-radius: .8rem;                               
}
/* .blog-post_img img{
    width: 100%;
    height: auto;
} */
.blog-post_date span{
    display: block;
    color: var(--text-color4);
    font-size: 1.2rem;
    font-family: 'Montserrat', Courier, monospace;
    font-weight: 500;
    margin: .5rem 0;
}
.blog-post_title{
    font-size: 3rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color:var(--text-color1);/*changes*/
    font-family: 'Josefin Sans', Courier, monospace;
    font-weight: 700;

}
.blog-post_text
{
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-family: 'Roboto', Courier, monospace;
    font-weight: 500;
    /* word-spacing: 5px;
    letter-spacing: 1px; */
    line-height: 20px;
   /* color:#00aeff; */
   color: var(--text-color2);/*changes*/
}
.event-text-list{
    /* list-style-type: none; */
    list-style: none;
    color: var(--text-color2);/*changes*/
    font-size: 1.5rem;
    font-family: 'Roboto', Courier, monospace;
    font-weight: 500;
    margin-bottom: 10px;

}
.blog-post .blog-post_info .org-name{
    color: var(--text-color2);/*changes*/
    font-family: 'Open Sans', Courier, monospace;
    font-weight: 700;
    font-size: 1.4rem;
    background: rgba(255, 255, 255, 0.027);
    border-radius: 7px;
    padding: 4%;
}
.blog-post .blog-post_info .org-name h3{
    margin-bottom: 10px;
    color: var(--graphic-color1);/*changes*/
}
.left-col .content .logo-name{
	font-size: 2rem;
}
.left-col .content .address a{
	font-size: 1.5rem;
}
.contact-link a{
	font-size:1.5rem;
}
.middle-col p{
	font-size:2.5rem;
}
.middle-col a{
	font-size:1.5rem;
}
.right-col h2{
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
  
}
.right-col p{
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.social-media a{
  font-size: 2rem;
  color: #fff;
}
.footer-bottom {
	font-size:1.8rem;
}
@media screen and (max-width :1068px)
{
    .blog-post_img
    {
        min-width: 30rem;
        max-width: 30rem;
    }
    .blog-post_img
    {
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width:868px)
{
    .blog-post
    {
       max-width: 70rem;
    }
    
}
@media screen and (max-width:768px)
{
    .blog-post
    {
        padding: 2.5rem;
        flex-direction: column;

    }
    .blog-post_img{
        min-width: 100%;
        max-width: 100%;
        transform: translateX(0,.8rem);
    }
}
