
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500&family=Open+Sans:wght@600&family=Oswald&family=Raleway&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500&family=Open+Sans:wght@600&family=Oswald&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&display=swap');
:root {
  --background: #023c59;
  --foreground: #024668;
  --text-color1: white;
  --text-color2: #dbb67e;
  --graphic-color1: #1d77d5;
  --graphic-color2: #01295b;
  --text-color3: #fc531f; /* Startup-name*/
  --text-color4: #59d8fc; /* About-us content*/
  --text-color5: #dbb67e; 
  --text-color6: white;
  --foreground2: #333333;
  --foreground3: #024668;
}
html,body{

    background-color: var(--background);
	transition: all 1s ease;
}
body.light
{
	--background: #dbb67e;
	--foreground: #dadbe6;
	--text-color1: #023c59;
	--text-color2: #ffffff;
	--graphic-color1: #ceab78;
    --graphic-color2: #794737;
    --text-color3: #023c59;
    --text-color4: #000000;
    --text-color5: #023c59;
    --text-color6: black;
    --foreground2: #333333;
    --foreground3: #024668;
    background: var(--background,#fff);
	transition: all 1s ease;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
#loading
{   
    position:fixed;
    width: 100%;
    height: 100vh;
    z-index:999999999999999999;
    background: black 
    url('https://i.pinimg.com/originals/85/e2/4b/85e24bd18e3658cd321688b4c34cc576.gif')
     no-repeat center;
}
 
     
 .sec-head{
    margin-top: 60px;
    color:var(--text-color1);
	text-transform: uppercase;
	font-size: 40px;
	word-spacing: 25px;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    font-family: 'Playfair Display', Courier, monospace;
    font-weight: 700;
    
}

section p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color:var(--text-color2);
}
section#home .logo
{
    border-radius: 100%;
}
.gallery-link{
    margin-top: 50px;
    
}
.gallery-link a{
    text-decoration: none;
    color: var(--text-color2,#fff);
}
.gallery-link a span{
    background: rgba(255, 255, 255, 0.1);
	padding:5px;
}
.gallery-link:hover a span{
    box-shadow: 2px 2px 3px var(--foreground);
}
