<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus-Ambassador-Program</title>
    <link rel="stylesheet" href="../css/campus_ambassodor.css">

    <!-- <link rel="stylesheet" href="../css/footer_new.css"> -->
</head>

<body>
    <div class="quarter-circle-top-right">
        <div>
            <h1 class="top"><span class="underline">CAMPUS AMBASSDOR</span></h1>
            <a href="https://forms.gle/tTrE9z2wY2RR2bG89">
                <h2><span class="register-background"> REGISTER NOW </span></h2>
            </a>
        </div>
        <!-- <img src="../images/logo.jpg" alt=""> -->
    </div>
    <div class="whole-content">
        <div class="about-prog-duties">
            <h1><span class="underline">ABOUT THE PROGRAM</span></h1>
            <ul>
                <li>E-CELL SSTC is glad to announce the commencement of the 6 months long "CAMPUS AMBASSADOR PROGRAM".
                </li>
                <li>This is a perfect opportunity for those students who tend to look beyond their academic curriculum
                    and are inclined
                    towards exploring various possibilities in the field of innovation, technology design thinking,
                    marketing, and building
                    a startup.</li>
            </ul>
        </div>
        <div class="perks">
            <h1><span class="underline">Perks</span></h1>
            <div>With this program, you will be given exposure to the entrepreneurial ecosystem in Chhattisgarh .</div>
            <ul>
                <li class="inline">
                    <div><img class="ca-logo" src="../images/CA Page/certificate.png" alt=""></div>
                    <div class="perk-about"><span class="space">.</span>INTERNSHIP CERTIFICATE</div>
                </li>
                <li class="inline">
                    <div><img class="ca-logo" src="../images/CA Page/LOR.png" alt=""></div>
                    <div class="perk-about"><span class="space">..</span>LETTER OF RECOMMENDATION</div>
                </li>
                <li class="inline">
                    <div><img class="ca-logo" src="../images/CA Page/Linkedin icon.png" alt=""></div>
                    <div class="perk-about"><span class="space">.</span>LINKEDIN RECOMMENDATION</div>
                </li>
                <li class="inline">
                    <div><img class="ca-logo" src="../images/CA Page/exclusive events.png" alt=""></div>
                    <div class="perk-about"><span class="space">.</span>EXCLUSIVE ENTRY IN ALL EVENTS OF THE E-CELL
                    </div>
                </li>
                <li class="inline">
                    <div><img class="ca-logo" src="../images/CA Page/skills.png" alt=""></div>
                    <div class="perk-about"><span class="space">.</span>EXCLUSIVE EVENTS FOR SKILL DEVELOPMENT</div>
                </li>
                <li class="inline">
                    <div><img class="ca-logo big-img" src="../images/CA Page/networking.png" alt=""></div>
                    <div class="perk-about">NETWORK BUILDING</div>
                </li>
                <li class="inline">
                    <div><img class="ca-logo big-img" src="../images/CA Page/Star performer.png" alt=""></div>
                    <div class="perk-about">TITLE OF STAR PERFORMER IN ALL SOCIAL MEDIA HANDLES</div>
                </li>
                <li class="inline">
                    <div><img class="ca-logo" src="../images/CA Page/campus demographics.png" alt=""></div>
                    <div class="perk-about">CHANCE TO KNOW YOUR CAMPUS DEMOGRAPHICS BETTER</div>
                </li>
            </ul>
        </div>
        <div class="about-prog-duties">
            <h1><span class="underline">DUTIES</span></h1>
            <ul>
                <li>Represent E-Cell in your Campus</li>
                <li>Promote events of E-Cell</li>
                <li>Enhance digital media reach of E-Cell</li>
                <li>Perform tasks given from time to time</li>
                <li>Connect E-Cell with various student bodies in your campus</li>
                <li>Develop the entrepreneurial community in your campus</li>
            </ul>
        </div>
    </div>
    <div id="camp-amb"><a href="https://forms.gle/tTrE9z2wY2RR2bG89">
            <h2><span class="register-background_2"> REGISTER NOW </span></h2>
        </a></div>
    <!-- <div class="align-form"><iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdpk85wEo2HJFTF05UmW3_ZLg6EIEZOmqY6h5S5PCM70rGMUg/viewform?embedded=true"
        width="1435" height="1880" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></div> -->
</body>

</html>