body{
    font-family:'roboto',sans-serif;
    background:black;
    color: #fff;
    line-height: 1.6;
    /* overflow: hidden; */
}

*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
}

.container
{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /* scroll-behavior: smooth; */
     
 
}

section{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
   height: 100%;
   /* scroll-snap-align: center; */

    
}
section#team
{
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    
}
section h1{
    font-size: 5rem;
    color:rgb(218, 188, 188);
    font-family: 'Abril Fatface', cursive;
    font-family: 'Grenze Gotisch', cursive;
    padding
}

section .logo
{
    
  margin-left: 60%;
  border-radius: 100%;
  

}
section#home p{
    align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 16px;
 
}
section#home h6{
    
  
    
    font-size: 2rem;
    font-family: 'Ubuntu', cursive;


}
section#home h1{

    
    font-size: 8rem;
    font-family: 'Ubuntu', cursive;


}
section#home .homepage{
    justify-content: space-evenly;
    display: flex;
    
}
section#home
{
    background: url() no-repeat center left/cover;
    background-size: 100%;  
 
}

section#events
{
    background: url() no-repeat center center/cover;
}



section#gallery
{
    background: url() no-repeat center center/cover;
}

section#sponsors
{
    background: url() no-repeat center center/cover;
}

section#investor
{
    background: url() no-repeat center center/cover;
}
section#register
{
    background: url() no-repeat center center/cover;
}
section#blog{
    background: url() no-repeat center center/cover;
}
.social h1{
    font-size: 2rem;
    align-items: center;

}

/* section#achieve .achievement{
    
    
   
} */



.social{
    
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 50vh;
  
 
     
}

 

  .swiper-pagination
  {
      padding: 0;
      margin-bottom:15%;
      
      
  }
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    background: rgb(17, 15, 15);

  }
  .swiper-slide .imgBx
  {
      width: 100%;
      height: 300px;
      overflow: hidden;
  }
  .swiper-slide .imgBx img{
      width: 100%;
      
  }
  .swiper-slide .details{
      box-sizing: border-box;
      font-size: 20px;
      padding: 20px;
      
  }
  .swiper-slide .details h3{
      margin: 0;
      padding: 0;
      font-size: 20px;
      text-align: center;
      line-height: 20px;

  }
  .swiper-slide .details spam
  {
      font-size: 16px;
      color:red;
  }