
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

h1 {   
text-align:center;
padding:3%; 
color: var(--text-color1);/*changes*/
font-weight:300; 
}

.contenedor { 
display:flex; 
flex-wrap:wrap;  
justify-content:center;  
width:100%;  }

.tarjeta  {
	font-family: 'Open Sans', sans-serif; 
	width:100%; 
	background:#fff; /*Don't change*/
	text-align:center; 
	position:relative; 
	color:gray;
    box-shadow:2px 2px 9px silver; 
	margin:30px;}

.contenido { 
width:100%; 
display:flex; 
flex-direction:column; 
align-items:center; 
justify-content:space-between;  }

 .imagen {width:50%;  }

h2 { 
width:90%;  
font-size:1em; 
font-weight:100; 
margin-top:10px; 
padding:2%; }

.tarjeta:hover .texto{ 
visibility:visible; 
top:0px; 
background: var(--foreground);/*changes*/  
transition:0.7s; 
max-height:300px; 
opacity:0.9; }

.texto { 
box-shadow:2px 2px 9px silver; 
overflow:auto; 
    position:absolute; 
	right:10px;
    font-size: 0.7em;
    padding:2% 2%;
    width: 100%;
   visibility:hidden;
 }
.texto p {  padding:2%;
color: var(--text-color4); 
font-size: 1.2em;}

.vermas  { 
margin-top:30px; 
background: var(--graphic-color1);/*changes*/  
width:60px; 
height:25px; 
margin-left: 1em;
border-radius:10%;
text-align:center;
}

.vermas a { 
  font-size: 1.6em;
text-decoration:none; 
color: var(--text-color1);/*changes*/
}

.scheme-logo
{
  width: 128px;
}

  @media (min-width:768px)  {
	  .texto { max-height:320px;}
	  .tarjeta  { width:40%; max-height:350px;  }
      .tarjeta:hover .texto{ top:5px;   }  
	  
  }
  
  @media (min-width:1024px) {
	 .texto { max-height:350px;}
	  .tarjeta  { width:30%; max-height:430px;  }
      .tarjeta:hover .texto{ top:5px;   }  
  }
   /* .sec-head{
    margin-top: 60px;
    color:white;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 2px;
} */